@import "tailwindcss";

@theme {
 --font-sans: "Poppins", serif;

 --font-display: "Bricolage Grotesque", serif;
}

.custom-container {
 @apply container m-auto px-10;
}

.pills {
 @apply px-4 py-2 rounded-4xl;
}

.img-frame {
 @apply bg-gray-50 px-5 pt-5 pb-10 shadow-2xl;
}

.bg-custom {
 background-image: url("/assets/lg.jpg");
 background-size: cover;
 background-position: center;
}
